body {
  background-color: white;

  font-family: sans-serif;
}

button {
  border: none;
  padding: 10px;
  border-left: medium solid blue;
  background-color: gray;
  color: white;
}

button:hover {
  border-left-width: thick;
}

.user-profile img {
  height: 3em;
  float: right;
}
